#root {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-width: 280px;
}

/* Hero Section */
@keyframes heroSlideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes heroSlideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-slide-left {
  opacity: 0;
  animation: heroSlideLeft 1s ease-out 4s forwards;
}

.hero-slide-up {
  opacity: 0;
  animation: heroSlideUp 1s ease-out 4s forwards;
}

.hero-slide-up-delay {
  opacity: 0;
  animation: heroSlideUp 1s ease-out 4.5s forwards;
}

/* Dropdown animation */
@keyframes slideDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-item {
  animation: slideDownAnimation 300ms ease-in-out forwards;
}

/* Element slide left */
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideLeft-element {
  animation: slideLeft 500ms ease-in-out forwards;
}

/* For ease-in animation */
@keyframes fadeInUp {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUpTitle,
.fadeInUpContent {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

/* Title ease-in animation */
.fadeInUpTitle {
  visibility: visible;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0s;
}

/* Content ease-in animation */
.fadeInUpContent {
  visibility: visible;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

/* Background animation */
.animated-background {
  background-size: 400%;

  -webkit-animation: animation 5s ease infinite;
  -moz-animation: animation 5s ease infinite;
  animation: animation 5s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

/* Attractions */

@media (min-width: 768px) {
  #slideLeft-element > div > #element-text,
  #slideLeft-element > #filled,
  #slideLeft-element > #unfilled {
    transition: transform 0.3s ease-in-out;
  }

  #slideLeft-element:hover > #filled {
    transform: translateY(-28px);
    transition: transform 0.3s;
  }

  #slideLeft-element:hover > #unfilled {
    transform: translateY(28px);
    transition: transform 0.3s;
  }

  #slideLeft-element:hover > div > #element-text {
    transform: translateY(28px);
    transition: transform 0.3s;
  }
}
